<div class="container">
  <div class="row">
    <div class="heading space-div header-global ">
      <div class="logo" style="margin-top:7px">
        <i class="material-icons" style="font-size:30px;">restaurant-admin</i></div>
    </div>
  </div>
  <div class="container centering">
    <h1 class="text-center space-margin space-margin">YummyEats Admin</h1>
    <p class="text-center space-margin">We do it right!</p>
    <div id=#place-order class="button-global  btn btn-lg btn-primary text-center space-margin" (click)="placeOrder()">Place an Order</div>
  </div>
</div>
