<div class="container">
  <div class="row">
    <div class="heading space-div header-global ">
      <div class="logo" style="margin-top:7px">
        <i class="material-icons" style="font-size:30px;">Restaurant-admin</i></div>
    </div>
  </div>
  <div class="container">
    <h2>Details for:</h2>
    <button type="button" class="btn btn-primary btn-lg btn-block button-global space-margin" (click)="processOrder()">Processing Orders</button>
    <button type="button" class="btn btn-primary btn-lg btn-block button-global space-margin">Pending Orders</button>
    <button type="button" class="btn btn-primary btn-lg btn-block button-global space-margin">Completed Orders</button>
  </div>
</div>
